/* 
Programme CSS
-----------------
Réalisé par Nicolas CHANTEPIE 
*/
#bloc_page /*Mise en page des blocs*/
{
	display: flex;
	flex-direction: column;
	width: auto;
	height: 1680px;
	margin: 2px;
	border: none;
}

header {
	height: 325px;
	display: flex;
}

body {
	width:1186;
}

#cv {
	display: flex;
}

#presentation {
	width: 30%;
	background-color: #feca07;
	border: none;
}

/*Fin de mise en page des blocs*/

#photo_profil /*Mise en page du header*/
{
	width: 30%;
	height: 325px;
	background: #feca07;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	overflow: hidden;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;
	height: 180px;
	width: 180px;
}

#nicolas_chantepie {
	width: 65%;
	font-size: 24px;
	margin-left: 10px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

strong {
	font-weight: bold;
	color: #feca07;
}

#trait {
	border-top: solid 3px #feca07;
	width: 53px;
}

/*Fin de la mise en page du header*/

#contact /* mise en page section "présentation"*/ {
	height: 392px;
	border: none;
}

#moi {
	height: 779px;
	border: none;
}

#loisirs {
	height: 180px;
	border: none;
}

#logo_loisirs {
	display: flex;
	justify-content: space-around;
	font-size: 30px;
	color: #37474F;
}

#hiking, #travel, #read {
	border: solid 2px #37474F;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo_phone, logo_email, logo_web {
	color: #37474F;
}

#moi h2, #loisirs h2, #contact h2 {
	text-align: center;
	background: #37474F;
	color: #feca07;
}

#moi p, #loisirs p, #contact p {
	margin-left: 25px;
}
/*Fin de la mise en page section "présentation"*/


#parcours /*Mise en page section "parcours"*/
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 15px 0px 0px 35px;
	width: 65%;
}

#recommandation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
}

.corps_cv h2 {
	border-bottom: 3px solid #feca07;
	width: 100%;
}

.corps_cv .fas {
	font-size: 30px;
	color: #feca07;
}
/*Fin de la mise en page section "parcours*/

h2 {
	margin-top: auto;
}

#contact .fas {
	color: #37474F;
}

.far {
	color: #feca07;
}



/* ---------------------------------------------------------------------------------
    Programmation  en responsive tablette
------------------------------------------------------------------------------------*/
@media all and (min-device-wdth: 769px) and (max-width: 941px)
{
	#recommandation
    {
		display: flex;
		flex-wrap: wrap;
	}

	#nicolas_chantepie {
		font-size: 20px;
	}

	h2
    {
		font-size: 19px;
	}
}

/* ---------------------------------------------------------------------------------
Programmation en responsive smartphone
------------------------------------------------------------------------------------*/
@media all and (max-device-width: 768px)
{
    #bloc_page
    {
        height:auto;
    }

	#cv {
		display: flex;
		flex-direction: column-reverse;
	}

	#presentation {
		display: flex;
		flex-direction: column-reverse;
		width: auto;
		margin: 10px 5px 10px 5px;
		background: #feca07;
	}

	#parcours {
		margin: 10px 5px 10px 5px;
		width: auto;
	}

	#nicolas_chantepie {
		font-size: 20px;
		width: auto;
	}

	#contact {
		height: auto;
	}

	#moi {
		height: auto;
	}

	h2 {
		font-size: 19px;
	}

	#photo_profil {
		display: none;
	}

	header {
		margin: 10px 5px 10px 5px;
	}

		header p {
			font-size: 15px;
		}
}

/* ---------------------------------------------------------------------------------
    Fin de programmation en responsive
-----------------------------------------------------------------------------------*/



.diplome, .activite {
	border: none;
	width: 70%;
}

.date {
	border: none;
	width: 20%;
}

#formation {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}

#experiences {
	border: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


span {
	display: inline-block;
	background: #feca07;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	margin-left: 5px;
}

#experiences span {
	margin-top: 9px;
}
